<div class="user-container">
  <mat-dialog-content class="mat-typography">
    <h2 layout="row" layout-align="center center">Rechazo</h2>
    <table class="example-full-width" [formGroup]="detalleRechazo" class="mat-elevation-z8">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vFolio :</mat-label><input matInput formControlName="vFolio" id="vFolio">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vFecRem :</mat-label><input matInput formControlName="vFecRem" id="vFecRem">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vTipRecha :</mat-label><input matInput formControlName="vTipRecha" id="vTipRecha">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vNumNeg :</mat-label><input matInput formControlName="vNumNeg" id="vNumNeg">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vNomNeg :</mat-label><input matInput formControlName="vNomNeg" id="vNomNeg">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vNumCuenta :</mat-label><input matInput formControlName="vNumCuenta" id="vNumCuenta">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vNatTarj :</mat-label><input matInput formControlName="vNatTarj" id="vNatTarj">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vNumAut :</mat-label><input matInput formControlName="vNumAut" id="vNumAut">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vTipTxn :</mat-label><input matInput formControlName="vTipTxn" id="vTipTxn">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vBanNeg :</mat-label><input matInput formControlName="vBanNeg" id="vBanNeg">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vEmisor :</mat-label><input matInput formControlName="vEmisor" id="vEmisor">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vGiro :</mat-label><input matInput formControlName="vGiro" id="vGiro">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vTerminal :</mat-label><input matInput formControlName="vTerminal" id="vTerminal">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vFecOrigDD :</mat-label><input matInput formControlName="vFecOrigDD" id="vFecOrigDD">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vFecOrigMM :</mat-label><input matInput formControlName="vFecOrigMM" id="vFecOrigMM">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vFecOrigYY :</mat-label><input matInput formControlName="vFecOrigYY" id="vFecOrigYY">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vFecOrigHH :</mat-label><input matInput formControlName="vFecOrigHH" id="vFecOrigHH">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vFecOrigMin :</mat-label><input matInput formControlName="vFecOrigMin" id="vFecOrigMin">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vFecOrigSS :</mat-label><input matInput formControlName="vFecOrigSS" id="vFecOrigSS">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vCodTxn :</mat-label><input matInput formControlName="vCodTxn" id="vCodTxn">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vTipMsj :</mat-label><input matInput formControlName="vTipMsj" id="vTipMsj">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vPEM :</mat-label><input matInput formControlName="vPEM" id="vPEM">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vRedLog :</mat-label><input matInput formControlName="vRedLog" id="vRedLog">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vDraftCapt :</mat-label><input matInput formControlName="vDraftCapt" id="vDraftCapt">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vCodResp :</mat-label><input matInput formControlName="vCodResp" id="vCodResp">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>mImpTxn :</mat-label><input matInput formControlName="mImpTxn" id="mImpTxn">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vCdTerm :</mat-label><input matInput formControlName="vCdTerm" id="vCdTerm">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vVencimiento :</mat-label><input matInput formControlName="vVencimiento" id="vVencimiento">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vMonComp :</mat-label><input matInput formControlName="vMonComp" id="vMonComp">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vOrigMsj :</mat-label><input matInput formControlName="vOrigMsj" id="vOrigMsj">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vOrigResp :</mat-label><input matInput formControlName="vOrigResp" id="vOrigResp">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vFiller1 :</mat-label><input matInput formControlName="vFiller1" id="vFiller1">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vDat1 :</mat-label><input matInput formControlName="vDat1" id="vDat1">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vDat2 :</mat-label><input matInput formControlName="vDat2" id="vDat2">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vDat3 :</mat-label><input matInput formControlName="vDat3" id="vDat3">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vNumReferencia :</mat-label><input matInput formControlName="vNumReferencia"
              id="vNumReferencia ">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vPagDif :</mat-label><input matInput formControlName="vPagDif" id="vPagDif">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vBanderaCash :</mat-label><input matInput formControlName="vBanderaCash" id="vBanderaCash">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>mImporteCash :</mat-label><input matInput formControlName="mImporteCash" id="mImporteCash">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vMedComunicacion:</mat-label><input matInput formControlName="vMedComunicacion" id="vMedComunicacion">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vRRN :</mat-label><input matInput formControlName="vRRN" id="vRRN">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vUCAF :</mat-label><input matInput formControlName="vUCAF" id="vUCAF">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>v3DSec :</mat-label><input matInput formControlName="v3DSec" id="v3DSec">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vCodEci :</mat-label><input matInput formControlName="vCodEci" id="vCodEci">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vTokenQ2 :</mat-label><input matInput formControlName="vTokenQ2" id="vTokenQ2">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vTokenC4 :</mat-label><input matInput formControlName="vTokenC4" id="vTokenC4">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vDest :</mat-label><input matInput formControlName="vDest" id="vDest">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vCVV2 :</mat-label><input matInput formControlName="vCVV2" id="vCVV2">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vLote :</mat-label><input matInput formControlName="vLote" id="vLote">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vFiller2 :</mat-label><input matInput formControlName="vFiller2" id="vFiller2">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>iEmisor :</mat-label><input matInput formControlName="iEmisor" id="iEmisor">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vRegLlave :</mat-label><input matInput formControlName="vRegLlave" id="vRegLlave">
          </mat-form-field>
        </td>
      </tr>
    </table>
  </mat-dialog-content>
</div>