<mat-card>
  <mat-card-header>
    <mat-card-title>Selecciona un adquiriente</mat-card-title>
  </mat-card-header>
  <mat-card-content>

<!--     <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
      [(ngModel)]="adquirienteSelected">
      <mat-radio-button class='example-radio-button' (clicked)='btnAccept()' *ngFor='let acquirer of listAdquiriente' [value]='acquirer'>
        {{acquirer.name}}
      </mat-radio-button>
    </mat-radio-group> -->

  </mat-card-content>
  <mat-card-actions>
    <app-button type='button' text='Aceptar'></app-button>
  </mat-card-actions>
</mat-card>
