<div class="example-container">


</div>
<div class="user-container">
  <div class="container">
    <h2 layout="row" layout-align="center center">Carga Adquirente</h2>

    <table class="example-full-width" [formGroup]="Rechazo">
      <tr>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Fecha Inicial</mat-label>
            <input matInput [matDatepicker]="picker" [value]="fechaactual.value" formControlName="pvFechaIni">
            <mat-datepicker-toggle matSuffix [for]="picker" id=pvFechaIni></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Fecha Final</mat-label>
            <input matInput [matDatepicker]="picker1" [value]="fechaactual.value" formControlName="pvFechaFin">
            <mat-datepicker-toggle matSuffix [for]="picker1" id=pvFechaFin></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Estatus</mat-label>
            <mat-select formControlName="pvCodTransaccion" multiple>
              <mat-option value="1">Sin modificaciones</mat-option>
              <mat-option value="2">Aprobado por el usuario</mat-option>
              <mat-option value="3">Modificado</mat-option>
              <mat-option value="4">Reinyectado</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <ng-container matColumnDef="myColumn">
            <button mat-raised-button color="primary" (click)="onSubmit()" >BUSCAR</button>
          </ng-container>
        </td>
        <td>
          <ng-container matColumnDef="myColumn">
            <button mat-raised-button color="success"   (click)="exportexcel()"  >Descargar</button>
          </ng-container>
        </td>
        
     
      </tr>
    </table>

    <div class="mat-elevation-z8">
      <mat-form-field class="filter">
        <input matInput placeholder="Filtrar Campos">
      </mat-form-field>
      <table mat-table [dataSource]="dataCargaAdquirente" id="rechazosintaxis">
        <ng-container matColumnDef="modificar">
          <th mat-header-cell *matHeaderCellDef> Accion </th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="primary" (click)="openOpciones()" >Modificar</button>
          </td>
        </ng-container>

        <ng-container matColumnDef="folioRechazo">
          <th mat-header-cell *matHeaderCellDef> Folio Rechazo</th>
          <td mat-cell *matCellDef="let element"> {{element.vFolioRechazo}} </td>
        </ng-container>

        <ng-container matColumnDef="folio">
          <th mat-header-cell *matHeaderCellDef> Folio</th>
          <td mat-cell *matCellDef="let element"> {{element.iFolio}} </td>
        </ng-container>

        <ng-container matColumnDef="fecCarga">
          <th mat-header-cell *matHeaderCellDef> dtFecCarga</th>
          <td mat-cell *matCellDef="let element"> {{element.dtFecCarga}}</td>
        </ng-container>

        <ng-container matColumnDef="accionRechazo">
          <th mat-header-cell *matHeaderCellDef> iAccionRechazo</th>
          <td mat-cell *matCellDef="let element"> {{element.iAccionRechazo}} </td>
        </ng-container>

        <ng-container matColumnDef="estatus">
          <th mat-header-cell *matHeaderCellDef> iEstatus </th>
          <td mat-cell *matCellDef="let element"> {{element.iEstatus}} </td>
        </ng-container>

        <ng-container matColumnDef="numNeg">
          <th mat-header-cell *matHeaderCellDef> vNumNeg</th>
          <td mat-cell *matCellDef="let element"> {{element.vNumNeg}} </td>
        </ng-container>

        <ng-container matColumnDef="nomNeg">
          <th mat-header-cell *matHeaderCellDef> vNomNeg</th>
          <td mat-cell *matCellDef="let element"> {{element.vNomNeg}} </td>
        </ng-container>

        <ng-container matColumnDef="numCuenta">
          <th mat-header-cell *matHeaderCellDef> vNumCuenta</th>
          <td mat-cell *matCellDef="let element"> {{element.vNumCuenta}} </td>
        </ng-container>

        <ng-container matColumnDef="numAut">
          <th mat-header-cell *matHeaderCellDef> vNumAut</th>
          <td mat-cell *matCellDef="let element"> {{element.vNumAut}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="cargaAdquirenteCol"></tr>
        <tr mat-row *matRowDef="let row; columns: cargaAdquirenteCol;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
