  <div class="example-container">
  </div>
  <div class="user-container">
    <div class="container">
      <br>
      <mat-card >
        <mat-card-content class="text-center">
          <section class="mat-typography" layout-align="center center">
            <h3 class="text-center">SERVICIOS ELECTRONICOS GLOBALES</h3>
            <h3 class="text-center">Reporte de Transacciones de : Registro de Ajuste </h3>
          </section>
        </mat-card-content>
      </mat-card>
      <br>
      <table class="example-full-width" cellspacing="5" [formGroup]="Busqueda"><tr>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Fecha Inicial</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="fechaIni">
            <mat-datepicker-toggle matSuffix [for]="picker" id= fechaIni></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Fecha Final</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="fechaFin">
            <mat-datepicker-toggle matSuffix [for]="picker1" id= fechaFin></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="col s3">
            <mat-label>Tipo de Registro</mat-label>
            <mat-select id= tipoRegistro formControlName="tipoRegistro" tabindex="-1" >
              <mat-option value="cadena"  *ngFor="let estatus of estatus" [value]="estatus">{{estatus.vStatusClave}}</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td> 
          <ng-container matColumnDef="myColumn">
            <button mat-raised-button color="primary" (click)="onSubmit()" >BUSCAR</button>
          </ng-container>
        </td>
        <td> 
          <ng-container matColumnDef="myColumn">
            <button mat-raised-button color="primary" (click)="exportexcel()" >Descargar</button>
          </ng-container>
        </td>
      </tr>
    </table>
    <div class="mat-elevation-z8" #table>
      <table mat-table [dataSource]="dataSource" id="prueba">
        <ng-container matColumnDef="idcom">
          <th mat-header-cell *matHeaderCellDef> ID de comerciante beneficiario </th>
          <td mat-cell *matCellDef="let element"> {{element.idcom}} </td>
        </ng-container>
        <ng-container matColumnDef="amexpaymentnum">
          <th mat-header-cell *matHeaderCellDef> Número de pago amex </th>
          <td mat-cell *matCellDef="let element"> {{element.amexpaymentnum}} </td>
        </ng-container>
        <ng-container matColumnDef="paymentdate">
          <th mat-header-cell *matHeaderCellDef> Fecha de pago  </th>
          <td mat-cell *matCellDef="let element"> {{element.paymentdate}} </td>
        </ng-container>
        <ng-container matColumnDef="paymentcurrency">
          <th mat-header-cell *matHeaderCellDef> Moneda de Pago </th>
          <td mat-cell *matCellDef="let element"> {{element.paymentcurrency}} </td>
        </ng-container>
        <ng-container matColumnDef="submerchantid">
          <th mat-header-cell *matHeaderCellDef> ID de sub comerciante  </th>
          <td mat-cell *matCellDef="let element"> {{element.submerchantid}}</td> 
        </ng-container>
        <ng-container matColumnDef="businesssubdate">
          <th mat-header-cell *matHeaderCellDef> Sub fecha de negocio  </th>
          <td mat-cell *matCellDef="let element"> {{element.businesssubdate}}</td> 
        </ng-container>
        <ng-container matColumnDef="amexprocessdate">
          <th mat-header-cell *matHeaderCellDef> Fecha de Proceso Amex  </th>
          <td mat-cell *matCellDef="let element"> {{element.amexprocessdate}}</td> 
        </ng-container>
        <ng-container matColumnDef="subinvoicenum">
          <th mat-header-cell *matHeaderCellDef> Número de factura  </th>
          <td mat-cell *matCellDef="let element"> {{element.subinvoicenum}}</td> 
        </ng-container>
        <ng-container matColumnDef="subcurrency">
          <th mat-header-cell *matHeaderCellDef> Moneda secundaria  </th>
          <td mat-cell *matCellDef="let element"> {{element.subcurrency}}</td> 
        </ng-container>
        <ng-container matColumnDef="invoicerefnum"> 
          <th mat-header-cell *matHeaderCellDef> Número de referencia de la factura</th>
          <td mat-cell *matCellDef="let element"> {{element.invoicerefnum}}</td> 
        </ng-container>
        <ng-container matColumnDef="cardaccountnum">
          <th mat-header-cell *matHeaderCellDef> Número de cuenta de tarjeta </th>
          <td mat-cell *matCellDef="let element"> {{element.cardaccountnum}}</td> 
        </ng-container>
        <ng-container matColumnDef="transamount">
          <th mat-header-cell *matHeaderCellDef> Monto de Transacción  </th>
          <td mat-cell *matCellDef="let element"> {{element.transamount}}</td> 
        </ng-container>
        <ng-container matColumnDef="servfeeamount">
          <th mat-header-cell *matHeaderCellDef> Importe de la tarifa de servicio  </th>
          <td mat-cell *matCellDef="let element"> {{element.servfeeamount}}</td> 
        </ng-container> 
        <ng-container matColumnDef="discountrate">
          <th mat-header-cell *matHeaderCellDef> Tasa de descuento  </th>
          <td mat-cell *matCellDef="let element"> {{element.discountrate}}</td> 
        </ng-container>
        <ng-container matColumnDef="discountamount">
          <th mat-header-cell *matHeaderCellDef> Importe de descuento  </th>
          <td mat-cell *matCellDef="let element"> {{element.discountamount}}</td> 
        </ng-container>
        <ng-container matColumnDef="grossamount">
          <th mat-header-cell *matHeaderCellDef> Cantidad bruta  </th>
          <td mat-cell *matCellDef="let element"> {{element.grossamount}}</td> 
        </ng-container>
        <ng-container matColumnDef="taxamount">
          <th mat-header-cell *matHeaderCellDef>  Importe del impuesto </th>
          <td mat-cell *matCellDef="let element"> {{element.taxamount}}</td> 
        </ng-container>
        <ng-container matColumnDef="netamount">
          <th mat-header-cell *matHeaderCellDef>  Importe neto </th>
          <td mat-cell *matCellDef="let element"> {{element.netamount}}</td> 
        </ng-container>
        <ng-container matColumnDef="servfeerate">
          <th mat-header-cell *matHeaderCellDef>  Tasa de tarifa de servicio </th>
          <td mat-cell *matCellDef="let element"> {{element.servfeerate}}</td> 
        </ng-container>
        <ng-container matColumnDef="adjustnumber">
          <th mat-header-cell *matHeaderCellDef>  Número de Ajuste </th>
          <td mat-cell *matCellDef="let element"> {{element.adjustnumber}}</td> 
        </ng-container>
        <ng-container matColumnDef="adjustrdesc">
          <th mat-header-cell *matHeaderCellDef>  Descripción de Ajuste </th>
          <td mat-cell *matCellDef="let element"> {{element.adjustrdesc}}</td> 
        </ng-container>
        <ng-container matColumnDef="fechaproceso">
          <th mat-header-cell *matHeaderCellDef>  Fecha Proceso</th>
          <td mat-cell *matCellDef="let element"> {{element.fechaproceso}}</td> 
        </ng-container>
        <ng-container matColumnDef="estatus">
          <th mat-header-cell *matHeaderCellDef>  Estatus</th>
          <td mat-cell *matCellDef="let element"> {{element.estatus}}</td> 
        </ng-container>
        <ng-container matColumnDef="tiporeg">
          <th mat-header-cell *matHeaderCellDef>  Tipo Registro</th>
          <td mat-cell *matCellDef="let element"> {{element.tiporeg}}</td> 
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
