<div class="user-container">
  <mat-dialog-content class="mat-typography">
    <h2 layout="row" layout-align="center center">Editar</h2>
    <table class="example-full-width" [formGroup]="detalleAdquirente" class="mat-elevation-z8">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vFolioRechazo:</mat-label><input matInput formControlName="vFolioRechazo" id="vFolioRechazo">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>dtFecCarga :</mat-label><input matInput formControlName="dtFecCarga" id="dtFecCarga">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>iFolio :</mat-label><input matInput formControlName="iFolio" id="iFolio">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vFecCarga :</mat-label><input matInput formControlName="vFecCarga" id="vFecCarga">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>iAccionRechazo :</mat-label><input matInput formControlName="iAccionRechazo" id="iAccionRechazo">
          </mat-form-field>
        </td>
        
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vNumNeg :</mat-label><input matInput formControlName="vNumNeg" id="vNumNeg">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vNomNeg :</mat-label><input matInput formControlName="vNomNeg" id="vNomNeg">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vNumCuenta :</mat-label><input matInput formControlName="vNumCuenta" id="vNumCuenta">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vNumAut :</mat-label><input matInput formControlName="vNumAut" id="vNumAut">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vTerminal :</mat-label><input matInput formControlName="vTerminal" id="vTerminal">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vFecOrig :</mat-label><input matInput formControlName="vFecOrig" id="vFecOrig">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vCodTxn :</mat-label><input matInput formControlName="vCodTxn" id="vCodTxn">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vPEM :</mat-label><input matInput formControlName="vPEM" id="vPEM">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>mImpTxn :</mat-label><input matInput formControlName="mImpTxn" id="mImpTxn">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vPagDif :</mat-label><input matInput formControlName="vPagDif" id="vPagDif">
          </mat-form-field>
        </td>

      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>mImporteCash :</mat-label><input matInput formControlName="mImporteCash" id="mImporteCash">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vRRN :</mat-label><input matInput formControlName="vRRN" id="vRRN">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vTokenC4 :</mat-label><input matInput formControlName="vTokenC4" id="vTokenC4">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>vReferencia :</mat-label><input matInput formControlName="vReferencia" id="vReferencia">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>iEstatus :</mat-label><input matInput formControlName="iEstatus" id="iEstatus">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>iEmisor :</mat-label><input matInput formControlName="iEmisor" id="iEmisor">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>iAdquirente :</mat-label><input matInput formControlName="iAdquirente" id="iAdquirente">
          </mat-form-field>
        </td>
      </tr>
     
        
    
    </table><br>
    <button mat-raised-button color="primary">Actualizar</button>
  </mat-dialog-content>
</div>
